/* FILE: src/app/globals.css */

@import "tailwindcss";
@import "../styles/colors.css";
@import "../styles/animations.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: var(--font-inter);
  --font-dela-gothic: var(--font-dela-gothic);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  padding: 0 8px;
  margin: 0 -20px;
  overflow-x: hidden;
}

/* Logo specific font */
.logo-text {
  font-family: var(--font-dela-gothic), sans-serif;
}
